.App {
  text-align: center;
}
html{
  background-color: #1f1d1d;
}

.current-user{
  color: white 
}

.side-bar{
  
  text-align: left;
  margin-bottom: 1rem;

}
.search-info{
  margin-top: 20px;
  text-align: center;
  margin-left: 150px;
}
.current-user{
  margin:20px;
}
table {
  font-family: arial, sans-serif;
  
}
td {
  border: 1px solid grey;
  text-align: left;
  padding: 8px;
  color:white;

}
.search-bar{
  margin-top: 20px;
}
.login{
margin:20px;
background-color:#1f1d1d; 
}
body{
  background-color:#1f1d1d;
}
.song-card{
  text-align: center;
  padding: 10px;
  width: 100px;
  height: 100px;
  display: inline-grid;
  margin: 1rem 2rem;
}
.title{
  color: rgb(255, 255, 255);
}

.artist{
  color: grey;
}

.cover-art{
    justify-self: auto;
    height: 100px;
    width: auto;
}
.like-button{
  background-color: #1f1d1d;
  border: 0px;
}

.header{
  padding: 100px;
  padding-bottom: 0;
  font-size: 3rem;
  font-weight: bold;
  color:white;
}
.player{
margin-top: 300px;

}
.library-table{
  padding-left: 12rem;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidebar-header{

    color:white;
}

.sidenav button {
  padding: 6px 8px 6px 16px;
  padding-right: 75px;
  text-decoration: none;
  font-size: 25px;
  background-color: #111 ;
  border: none;
  color:white;
  display: block;
  margin-top: 20px;

}

.sidenav button:hover {
  background-color: #f1f1f1;
  color: #111;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}