.App {
  text-align: center;
}
html{
  background-color: #514f5c;
}
.side-bar{
  
  text-align: left;
  margin-bottom: 1rem;

}

.song-card{
  text-align: center;
  padding: 10px;
  width: 100px;
  height: 100px;
  display: inline-grid;
  margin: 1rem 2rem;
}
.title{
  color: rgb(255, 255, 255);
}

.artist{
  color: rgb(255, 255, 255);
}

.cover-art{
    justify-self: auto;
    height: 100px;
    width: auto;
  

}

.header{
  font-size: 3rem;
  font-weight: bold;
  color:white;
}