.App {
  text-align: center;
}
html{
  background-color: #1f1d1d;
}

.current-user{
  color: white 
}

.side-bar{
  
  text-align: left;
  margin-bottom: 1rem;

}
.search-info{
  text-align: center;
}
table {
  font-family: arial, sans-serif;
  
}
td {
  border: 1px solid grey;
  text-align: left;
  padding: 8px;
  color:white;

}
.login{
margin:20px;
background-color:#1f1d1d; 
}
body{
  background-color:#1f1d1d;
}
.song-card{
  text-align: center;
  padding: 10px;
  width: 100px;
  height: 100px;
  display: inline-grid;
  margin: 1rem 2rem;
}
.title{
  color: rgb(255, 255, 255);
}

.artist{
  color: grey;
}

.cover-art{
    justify-self: auto;
    height: 100px;
    width: auto;
}
.like-button{
  background-color: #1f1d1d;
  border: 0px;
}

.header{
  margin: 200px;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bold;
  color:white;
}